* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(185, 75%, 39%);
    background-image: 
        url('../img/bg-pattern-top.svg'),
        url('../img/bg-pattern-bottom.svg');
    background-position:
        top -550px left -200px,
        bottom -550px right -200px;
    background-repeat: no-repeat;
    background-size: 950px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    font-family: 'Kumbh Sans';
    z-index: 1;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 350px;
}

.photo-wrapper {
    background: url('../img/bg-pattern-card.svg');
}

.photo {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin-bottom: -60px;
    margin-top: 75px;
}

.profile {
    margin-top: 75px;
}

h1, h2 {
    display: inline-block;
}

h1, h4 {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 1.1rem;
}

h2, h3, main p {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 0.8rem;
}

h2 {
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

main p {
    margin-top: 5px;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}

h3 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.status-info {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    border-top: 1px solid #ddd;
}

.status {
    text-align: center;
}

.attribution {
    margin-top: 5px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
    body {
        background-size: 600px;
        background-position: 
            top -300px left -400px,
            bottom -300px right -400px;
    }
}