* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body {
    background: url('../img/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

header {
    max-width: 500px;
    min-width: 300px;
    color: hsl(0, 0%, 100%);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

header p {
    font-weight: 500;
}

main {
    width: 550px;
}

form {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 8px hsl(0, 0%, 0%, 0.2);
}

h2 {
    background-color: hsl(248, 32%, 49%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px hsl(0, 0%, 0%, 0.2);
    margin-bottom: 2rem;
}

h2 span {
    font-weight: 600;
}

div {
    width: 100%;
}

input {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5px;
    border-style: solid;
    font-weight: 500;
}

input[class=invalid]:focus {
    outline: none;
}

.invalid {
    border: 2px solid hsl(0, 100%, 50%);
    background: url('../img/icon-error.svg') no-repeat;
    background-position: center right 1rem;
}

.error {
    display: block;
    width: 100%;
    color: hsl(0, 100%, 50%);
    text-align: right;
    font-style: italic;
    font-size: 0.6rem;
}

.error.active {
    margin-top: 5px;
    animation-name: show;
    animation-duration: 0.5s;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

input[type=submit] {
    background-color: hsl(154, 59%, 51%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid hsl(154, 59%, 42%);
    box-shadow: 0 3px hsl(154, 59%, 42%);
    transition: opacity 0.5s;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.7;
}

h3 {
    color: hsl(246, 25%, 77%);
    font-size: 0.7rem;
    font-weight: 400;
}

h3 a {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (max-width: 375px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        padding: 1.3rem;
        gap: 1rem;
        height: auto;
    }

    header {
        text-align: center;
        margin: 3rem 0;
    }

    h1 {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
        line-height: 2rem;
    }

    main {
        width: 100%;
    }

    form {
        padding: 1.5rem;
        margin-bottom: 3rem;
    }

    h2 {
        padding: 1rem 3rem;
        margin-bottom: 1.5rem;
    }

    input:not([type=submit]) {
        padding: 1rem;
    }

    h3 {
        text-align: center;
        line-height: 1.5rem;
        padding: 0 1rem;
    }
}