* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(216, 12%, 8%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 330px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 10px;
    padding: 2rem;
    font-family: 'Overpass', sans-serif;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.7rem;
    margin-top: 1rem;
}

main p {
    color: hsl(217, 12%, 63%);
    font-size: 0.9rem;
}

.icon-star {
    background: url('../img/icon-star.svg') no-repeat;
    background-position: center;
}

.icon-star, .circle {
    background-color: hsl(213, 19%, 22%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(217, 12%, 63%);
}

.star {
    width: 15px;
    height: 15px;
}

.rating-state, .thanks-state {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rating {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.circle {
    font-size: 0.8rem;
}

.rating .circle {
    transition: 0.5s;
    cursor: pointer;
}

.rating .circle:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.rate {
    background-color: hsl(216, 12%, 54%);
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

button {
    background-color: hsl(25, 97%, 53%);
    border: none;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.hide {
    display: none;
}

h2 {
    font-size: 0.7rem;
    font-weight: 400;
    color: hsl(25, 97%, 53%);
}

.thanks-state {
    gap: 1.5rem;
    align-items: center;
    text-align: center;
}

.thanks-state .circle {
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
}

.attribution {
    margin-top: 5px;
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
    main {
        width: 290px;
    }

    .icon-star, .circle {
        width: 45px;
        height: 45px;
    }
}